# Файлы C# и проекты должны быть с LF
*.cs text eol=lf
*.csproj text eol=lf
*.sln text eol=lf

# Метафайлы Unity должны быть с LF (если они содержат только текст)
*.meta text eol=lf

# Бинарные файлы
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.psd binary
*.tif binary
*.tiff binary
*.bmp binary
*.fbx binary
*.obj binary
*.blend binary
*.wav binary
*.mp3 binary
*.ogg binary
*.aif binary
*.aiff binary

# большой файл
*.dylib filter=lfs diff=lfs merge=lfs -text

# Другие файлы (DLL, файлы сборки и т.д.) - не текстовые
* -text
